.main-listings {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin-left: 4px;
    border: 1px solid;
    z-index: 100;
    box-shadow: 3px 3px grey;
}

.invidiual-job-listings{
    flex:.8;
    padding-top: 8px;
    padding-bottom:8px;
    font-family: sans-serif;
    padding-left: 10px;
}


.invidiual-job-listings > .listings-title{
    font-size: 18px;
    font-weight: 550;
    /* color: red; */
    color: #2D2D2D;
}

.invidiual-job-listings > .listings-item {
    font-size: 16px;
    padding-top: 5px;
}

.link-listings {
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin-right: 10px;
}

.link-listings .link-logo {
    margin-bottom: 9px;
    cursor:pointer;
}

.link-listings .link-star:hover {
    color: 	#FFD700;
    cursor:pointer;
}

