.main-listings {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin-left: 4px;
    border: 1px solid;
    z-index: 100;
    box-shadow: 3px 3px rgba(197,197,197,1);
}

.invidiual-job-listings{
    flex:.8;
    padding-top: 8px;
    padding-bottom:8px;
    font-family: sans-serif;
    padding-left: 20px;
}


.invidiual-job-listings > .listings-title{
    font-size: 18px;
    font-weight: 550;
    /* color: red; */
    color:rgba(156,220,254,1);
}

.invidiual-job-listings > .listings-item {
    font-size: 16px;
    padding-top: 5px;
}

.link-listings {
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin-right: 10px;
}

.link-listings .link-logo {
    margin-bottom: 9px;
    cursor:pointer;
}

.link-listings .link-star:hover {
    color: 	#FFD700;
    cursor:pointer;
}

.joblisting-index {
   padding-top:60px;
   max-width: 750px; 
}
.listings-company-name {
    color: rgba(78,201,176,1);
}
.listings-place {
    color: rgba(206,145,120,1);
}
.listings-date-posted {
    color: rgba(220,220,170,1);
}

