.modal {
   background-color: rgba(253, 253, 253, 0.5);
   height: 100%;
   left: 0;
   overflow: auto;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 300;
   
}

.modal-content {
   background-color: #eeeeee;
   margin: 20% auto;
   width: 50%;
   height: 60%;
   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rba(0, 0, 0, 0.17);
   animation-name: modalopen;
   animation-duration: 0.5s;
}

.modal-header {
   display: flex;
   flex-direction: column;
   font-size: 14px;
   font-weight: 600;
   margin-block-start: 1em;
   margin-block-end: 1em;
   padding: 20px;
   text-align: left;
   /* color: black; */
}

.modal-body {
   background-color:white;
   display: block;
   padding-left: 10px;
   padding-bottom: 10px;
   position: relative;
   height: 100%;
   /* text-align: center; */
}

.modal-body > input {
   padding: 10px;
   background-color: white;
   border: 1px solid black;
   color: black;
   margin: 10px;
   width: 80%;
   
}
.modal-body > .radio-buttons {
   background-color: white;
   color: black;
   font-size: 14px;
   padding: 16px;
}

.modal-body > .radio-buttons > span {
   margin-right: 10px;
   background-color: white;
   color: black;
}

.modal-body > div > label {
   background-color: white;
   color: black;
   font-size: 14px;
   padding: 16px;
}

.modal-body > button {
   background-color: white;
   color: black;
   margin-top: 40px;
   width: 80%;
   /* border: 1px solid black; */
   align-items: center;
}

.modal-body > .summary {
   padding-bottom: 80px;
}
.modal-body > .comments {
   padding-bottom: 20px;
}



.closeBtn  {
   cursor: pointer;
   display: block;
   font-size: 100%;
   height: 16px;
   width: 16px;
   display: flex;
   flex-direction: column-reverse;
}

@keyframes modalopen{
   from {opacity: 0}
   to {opacity: 1}
}