
#search-bar-container {
    height: 100%;
    z-index: 1;
    width: 500px;
    background-color: #212121;
}
#search-bar-container #search-bar-drop-down {
    z-index: 1;
    overflow: visible;
    font-size: 20px;
    font-family: inherit;
}

.search-bar-input {
    box-sizing: border-box;
    /* margin-left: 10px;  */
    padding-top: 13px;
    /* position: absolute; */
    left: 50px;
    height: 50px;
    z-index: 2;
    outline: none;
    background-color: #212121;
    width: 100%;
}

.search-bar-input-text {
    height: 25px; 
    width: 400px;
    border-radius: 1px 0px 0px 1px;
    font-size: 16px;
    font-family: inherit;
    color: #e2e2e2;
    background-color: #121212;
    text-indent: 10px;
    border-left: #343536 1px solid;
    border-top: #343536 1px solid;
    border-bottom: #343536 1px solid;
}

.search-bar-input-text:focus {
    outline: darkblue;
}

.search-bar-input-btn {
  background-color: #313131;
  /* border: black 1px solid; */
  font-size: 12px;
  border-radius: 0 2px 2px 0;
  display: inline-block;
  height: 27px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  color: #6f6f6f;
  z-index: 3;
}

#search-bar-drop-down {
    position: relative;
    left: 0px;
    top: -10px;
    /* background: white;  */
    font-size: 20px;
    border: 1px solid black;
    width: 400px;
    z-index: 100;
    color: #e2e2e2;
    z-index: 3;
}

.search-bar-item {
    margin: 1px;
    display: flex;
    border-bottom: #343536 1px solid;
    padding: 2px 0px 2px 2px; 
}

.search-bar-item:hover {
    background-color: 343536;
}

.search-bar-text-container {
    margin-top: 6px;
}
.search-bar-img-container {
    margin: auto 0;
}

#img {
    overflow: hidden;
    display: block;
    height: 30px;
    width: 30px; 
    object-fit: scale-down;
    border: 1px solid #696969; 
    margin-right: 10px;
}

.fa-search {
    background-color: #313131;
}